[Unit]
Description=Telegram bot
After=network-online.target postgresql.service redis-server.service
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/telegram-bot-darslar
EnvironmentFile=/opt/telegram-bot-darslar/.env
Environment=APP_ENV=production
Environment=AUTO_INIT_DB=false
ExecStartPre=/opt/telegram-bot-darslar/.venv/bin/alembic upgrade head
ExecStart=/opt/telegram-bot-darslar/.venv/bin/python main.py
Restart=always
RestartSec=5
User=telegrambot
Group=telegrambot

[Install]
WantedBy=multi-user.target
